<h1>Formulario de Ingreso</h1>
<form method="posts" action="create" id="create_posts">
  <div class="form-group col-md-4">
    <label for="InputTitle">Titulo</label>
    <input type="text" name="title" class="form-control" id="nombre" aria-describedby="emailHelp">
  </div>
  <div class="form-group col-md-4">
    <label for="InputImageURL">Image URL</label>
    <input type="text" name="image_url" class="form-control" id="image_url">
  </div>
  <div class="form-group col-md-6">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>
  <button type="submit" class="ml-3 btn btn-primary">Submit</button>
</form>